*.pyc
*.zip
*.log
*.feather
*.h5
*.sql
*.parquet
*-checkpoint.py
.ipynb_checkpoints/
/.vscode/
/.misc/
/data/cells-traffic/
/data/RAN_PM_data/
/results/**/check/run*/
/results/*.csv
/analysis/*.csv
/config.py
