*.pyc
*.zip
*.log
*.feather
*.h5
*.sql
*.parquet
*-checkpoint.py
.ipynb_checkpoints/
/.vscode/
/.idea/
/.misc/
/data/cells-traffic/
/data/RAN_PM_data/
/results/**/*/run*/
/results/*.csv
/results/*.txt
/analysis/*.csv
/wandb/
/config.py
